@font-face {
  font-family: "Poppins-Light";
  src: url("./components/Assets/fonts/Poppins-Light.woff2") format("woff2"),
    url("./components/Assets/fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./components/Assets/fonts/Poppins-Bold.woff2") format("woff2"),
    url("./components/Assets/fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./components/Assets/fonts/Poppins-Medium.woff2") format("woff2"),
    url("./components/Assets/fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("components/Assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("components/Assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
select {
  outline: none;
  font-family: "Poppins-bold";
  font-size: 16px;
  border: none;
}


